.profile__author {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 450px;
}

@media (max-width:880px) {
  .profile__author {
    max-width: calc(92vw - 150px - 120px - 38px - 30px - 18px );
  }
}

@media (max-width:767px) {
  .profile__author {
    font-size: 32px;
  }
}

@media (max-width:525px) {
  .profile__author {
    max-width: 400px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}